/* Apply background color transition to the whole page */
 body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: colorChange 10s infinite alternate; 
    font-family: 'Orbitron', sans-serif;
  }
  

  @keyframes colorChange {
    0% {
      background-color: #0e5ae8;
    }
    25% {
      background-color: #f39c12;
    }
    50% {
      background-color: #e74c3c;
    }
    75% {
      background-color: #9b59b6;
    }
    100% {
      background-color: #1077f4;
    }
  }
  
 
  .clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 350px;
    border-radius: 15px;
    background: linear-gradient(to right, #0e5ae8, #1077f4);
    padding: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    animation: borderColorChange 10s infinite alternate;
  }
  

  @keyframes borderColorChange {
    0% {
      border: 5px solid #00e676;
    }
    50% {
      border: 5px solid #ff6347;
    }
    100% {
      border: 5px solid #87ceeb;
    }
  }
  
  .clock {
    color: #00e676;
    background: radial-gradient(circle, black, rgb(72, 72, 210));
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 255, 0, 0.7);
    font-size: 2.5rem;
    text-align: center;
  }
  
  .hours,
  .minutes,
  .seconds {
    display: inline-block;
    min-width: 40px;
  }
  

  .Time {
    color: #00e676;
    background: radial-gradient(circle, #000, rgb(72, 72, 210));
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 255, 0, 0.7);
    font-size: 3rem;
  }
  